<div>
<%= cart.each do |product| %>
    <%= product %>
  <% end %>
</div>

<div>
  <%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <input type="text" name="product">
  <input type="submit" value="add to cart">
  <% end %>
</div>
